<h3>Add new Gym:</h3>
<form id="addgym" action="/gyms" method="post">
    Gym Name: <input type="text" name="name" required placeholder="required">
    Street Number: <input type="number" name="streetNumber" required placeholder="required">
    Street Name: <input type="text" name="streetName" required placeholder="required">
    City: <input type="text" name="city" required placeholder="required">
    State: <input type="text" name="state" required placeholder="required">
    Zip: <input type="number" name="zip" required placeholder="required">

<br>
<br>
    <input type="submit" value="Submit">
 </form>

 <br>

<h3>List of Gyms</h3>
<table>

      <thead> 
        <th>Gym Id</th> 
        <th>Name</th> 
        <th>Street Number</th> 
        <th>Street Name</th> 
        <th>City</th> 
        <th>State</th> 
        <th>Zip</th> 

    </thead> 

{{#each gyms}}
  <tr>
    <td>{{gymID}}</td>
    <td>{{name}}</td>
    <td>{{streetNumber}}</td>
    <td>{{streetName}}</td>
    <td>{{city}}</td>
    <td>{{state}}</td>
    <td>{{zip}}</td>
  </tr>
{{/each}}
</table>

<br>

<a href="https://workouttracker340.herokuapp.com/">Go To Home Page</a>