
<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Create New Membership </h3>
    <form id="add_memberships" action="/memberships" method="post">
    Person: <select name='personID'>
        {{#each persons}}
          <option value='{{personID}}'>{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>
    <br>

    Gym: <select name='gymID'>
        {{#each gyms}}
          <option value='{{gymID}}'>{{name}}</option>
        {{/each}}
    </select>
    <br>
        <br>

        <input type="submit" value="Submit">

    </form>
</div>

<br/>

<table>

      <thead> 
        <th>Gym Id</th> 
        <th>Gym Name</th> 
        <th>Person ID</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Delete Membership</th>
    </thead> 

{{#each memberships}}
  <tr>
    <td>{{gymID}}</td>
    <td>{{name}}</td>
    <td>{{personID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td><button onclick ="deleteMembership({{personID}},{{gymID}})")>Delete Membership</button></td>
  </tr>
{{/each}}
</table>

</html>

