<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Create New Membership </h3>
    <form id="add_people_certificates" action="/memberships" method="post">
    Person: <select name='personID'>
        {{#each persons}}
          <option value='{{personID}}'>{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>
    <br>

    Gym: <select name='gymID'>
        {{#each gyms}}
          <option value='{{gymID}}'>{{name}}</option>
        {{/each}}
    </select>
    <br>
        <br>

        <input type="submit" value="Submit">

    </form>
</div>

<br/>

<table>

      <thead> 
        <th>Gym Id</th> 
        <th>Gym Name</th> 
        <th>Person ID</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
    </thead> 

{{#each memberships}}
  <tr>
    <td>{{gymID}}</td>
    <td>{{name}}</td>
    <td>{{personID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
  </tr>
{{/each}}
</table>


{{!-- <h3> List of People with their Certifications </h3>
<table>
    <thead> 
        <th>Name</th> 
        <th>Certificate</th> 
    </thead> 
    <tbody> 
        {{#each people_with_certs}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{certificate}}</td> 
            <td><button onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No people with any certifications found! Grant some using the form. </b>
        {{/each}} 

    </tbody>
</table>  --}}
</html>
