<h3>Add new Person:</h3>
<form id="addperson" action="/persons" method="post">
    First Name: <input type="text" name="firstName">
    Last Name: <input type="text" name="lastName">
    Weight: <input type="number" name="weight">
    Height: <input type="number" name="height">

<br>
<br>
    <input type="submit" value="Submit">
 </form>

 <br>

 <form id='search_people' action='' method=''>
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPersons()">
</form>


 <br>

<table>

      <thead> 
        <th>Person Id</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Weight</th> 
        <th>Height</th> 

    </thead> 

{{#each persons}}
  <tr>
    <td>{{personID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{weight}}</td>
    <td>{{height}}</td>
  </tr>
{{/each}}
</table>
