<h3>Add new Person:</h3>
<form id="addperson" action="/persons" method="post">
    First Name: <input type="text" name="firstName">
    Last Name: <input type="text" name="lastName">
    Weight: <input type="number" name="weight">
    Height: <input type="number" name="height">

<br>
<br>
    <input type="submit" value="Submit">
 </form>

 <br>

 <h3>Update Person:</h3>
<form id="update-person" action="/persons" method="put">
    Person: <select name='personID'>
        {{#each persons}}
          <option value='{{personID}}'>{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>
    New First Name: <input type="text" name="newfirstName" value="{{Persons.firstName}}">
    New Last Name: <input type="text" name="newlastName" value="{{Persons.lastName}}">
    New Weight: <input type="number" name="newweight" value="{{Persons.weight}}">
    New Height: <input type="number" name="newheight" value="{{Persons.height}}">

<br>
<br>
    <button onClick="updatePerson({{Persons.personID}})">Submit</button>
 </form>

 <br>

 <h3>Search Persons:</h3>
 <form id='search_people' action='' method=''>
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPersons()">
</form>


 <br>

<table>

      <thead> 
        <th>Person Id</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Weight</th> 
        <th>Height</th> 

    </thead> 

{{#each persons}}
  <tr>
    <td>{{personID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{weight}}</td>
    <td>{{height}}</td>
  </tr>
{{/each}}
</table>

<br>

<a href="https://workouttracker340.herokuapp.com/">Go To Home Page</a>