<h3>Add new Person:</h3>
<form id="addperson" action="/persons" method="post">
    First Name: <input type="text" name="firstName" placeholder="required">
    Last Name: <input type="text" name="lastName" placeholder="required">
    Weight: <input type="number" name="weight" placeholder="required">
    Height: <input type="number" name="height" placeholder="required">

<br>
<br>
    <input type="submit" value="Submit">
 </form>

 <br>
 <br>

 <h3>Search Persons:</h3>
 <form id='search_people' action='' method=''>
    <label> Search for people with first name:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPersons()">
</form>


 <br>


<h3> List of Persons </h3>
<table>

      <thead> 
        <th>Person Id</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Weight</th> 
        <th>Height</th> 

    </thead> 

{{#each persons}}
  <tr>
    <td>{{personID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{weight}}</td>
    <td>{{height}}</td>
  </tr>
{{/each}}
</table>

<br>

<a href="https://workouttracker340.herokuapp.com/">Go To Home Page</a>